logs
project/project
project/target
target
.history
/*.iml
/**/out
/.idea_modules
.classpath
.project
/RUNNING_PID
.settings
.target
.cache*
.DS_Store
.build
/build/
/.gradle/
/.idea/
/model/docker/kafka/
/**/build
*.imlout/
build/
.gradle/
.idea/
